body {
    font-size: 14px;
    font-family: arial, sans-serif;
}

.top-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#about:hover, #store:hover, #gmail:hover, #images:hover {
    text-decoration: underline;
    cursor: pointer;
}

#apps-icon:hover {
    cursor: pointer;
}

.topleft-navbar-list {
    display: inline;
    margin-left: 15px;
    padding: 5px;
    margin: 0 5px;
    color: #222;
}

.topright-navbar-list {
    display: inline;
    position: relative;
    left: 78vw; 
    margin-left: 15px;
    color: #222;
}

#apps-icon {
    position: relative;
    top: 7px;
    opacity: 0.5;
}

#sign-in {
    background-color: #1a73e8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    padding: 9px 23px;
}

.logo {
    position: absolute;
    left: 50vw;
    top: 32vh;
    width: 272px;
    height: 92px;
    margin-top: -50px;
    margin-left: -150px;
}

input[type="text"] {
    font-size: 16px;
    background: url("images/search-icon.svg") no-repeat scroll 16px 15px;
    padding-left: 50px;
    padding-bottom: 4px;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.search {
    outline: none;
    width: 584px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 5px 8px 0 16px;
}

.search:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%)
}

.search-button {
    background-color: #f8f9fa;
    border: none;
    color: #3c4043;
    padding: 10px 16px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.search-button:hover {
    box-shadow: 0 1px 3px rgb(32 33 36 / 28%)
}

#google-search {
    position: absolute;
    top: 48vh;
    left: 42.75vw;
}

#feeling-lucky {
    position: absolute;
    top: 48vh;
    right: 42.75vw;
}